/* You can add global styles to this file, and also import other style files */

.banner {
  font-size: medium;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
input[type='number']{
    margin-top: 0.0em;
    padding-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    width: 55px;
    font-size: x-small;

}
summary {
  font-size: small;
}
.label {
  font-size: x-small;
  font-weight: bold;
}

.smallLabel {
  font-weight: bold;
  font-size: x-small;
  margin-bottom: 0.0em;
  padding-bottom: 0.0em;
  margin-left: 0.5em;

}
.radioSpaced {
  font-size: x-small;
}

@media (max-width: 400px) {
  .responsive-canvas {
    width: 360px;
    height: 360px;
  }
}



@media (min-width: 1000px) {
  .responsive-canvas {
    width: 700px;
    height: 700px;
  }
}

.version {
  color: grey;
  font-size: x-small;
  margin-bottom: 0.0em;
  padding-bottom: 0.0em;
  margin-left: 0.5em;

}